@use '../../assets/styles/common' as *;

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px dotted brown;
  
  label{
    margin-top: 5px;
  }
  .input-mui{
    width: 25%;
    
  }
}


@include breakPoint(phone){
  .login-form{
      label {
          margin-top: 5px;
        }
      
        .input-mui {
          width: 50%;
      
        }
        button{
          width: 50px;
        }
  }
}