@use '../../assets/styles/common' as *;


.main-users {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
      .control-panel {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }
  /* форма занимает всё */
}







@include breakPoint(phone) {
  .main-users {
    .control-panel{
      display: flex;
      
      flex-wrap: wrap;
    }
    justify-content:center
    table {
      display: flex;
      tbody{
        display: flex;
        flex-wrap: wrap;
        
      }
      th,
      td {
 
        button{
          text-align: center;
          margin: 5px;
          padding: 0 20px;
        }
        
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:first-of-type {
          width: 18vw;
          
        }

        &:last-of-type {
          width: 18vw;
        }

        &:not(:first-of-type):not(:last-of-type) {
          width: 18vw;
        }
      }
    }


  }
}